{% extends 'main.html' %}
{% block content %}
<div class="wrapper">
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--6-col">
            <div class="mdl-card mdl-shadow--6dp ">
                <div class="mdl-card__title mdl-color--primary mdl-color-text--white">
                    <h2 class="mdl-card__title-text" style="left: 99px;position: relative;">Input</h2>
                </div>
                <form id='form' method="post" action="/SiteOutput/Results/Fastqc" enctype="multipart/form-data">
                    <div class="mdl-card__supporting-text">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--file">
                            <input class="mdl-textfield__input" placeholder="File" type="text" id="uploadFile" readonly multiple/>
                                <div class="mdl-button mdl-button--primary mdl-button--icon mdl-button--file">
                                    <i class="material-icons">attach_file</i>
                                    <input type="file" name="file" id="uploadBtn" accept="text" multiple>
                                    <div class="mdl-tooltip mdl-tooltip--large" for="uploadBtn">
                                        Select a file
                                    </div>
                                </div>
                                <div id="size">

                                </div>
                        </div>
                        <div id="error_text">
                            {{ message }}
                        </div>
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <div class="mdl-grid">
                            <button id="upload" class="mdl-cell mdl-cell--12-col mdl-button mdl-button--raised mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-color-text--white">
                                Upload
                            </button>
                            <div class="mdl-tooltip mdl-tooltip--large" for="upload">
                                Upload a file to the server
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}