<!-- Author = Niek Scholten  -->
<!-- Date = 28-11-2019 -->
<!-- Version 1.0 -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/material.min.css')}}" type="text/css">
        <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}" type="text/css">
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css">
        <script src="{{url_for('static', filename='js/material.min.js')}}" type="text/javascript"></script>
        <script src="{{url_for('static', filename='js/jquery.min.js')}}" type="text/javascript"></script>
        <script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}" type="text/javascript"></script>
        <script src="{{url_for('static', filename='js/dropzone.js')}}" type="text/javascript"></script>
        <script src="{{url_for('static', filename='js/script.js')}}" type="text/javascript"></script>
    </head>

    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <span class="mdl-layout-title">{{ title }}</span>
                <div class="mdl-layout-spacer">
                </div>
                <nav class="mdl-navigation mdl-layout--large-screen-only">
                    <a class="mdl-navigation__link {{ current0 }}" href="{{ url_for('index') }}">Home</a>
                </nav>
            </div>
        </header>
        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">Pipeline</span>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link {{ current0 }}" href="{{ url_for('index') }}">Single-end</a>
                <a class="mdl-navigation__link {{ current1 }}" href="{{ url_for('Paired-end') }}">Paired-end</a>
            </nav>
        </div>
        <main class="mdl-layout__content">
            <div class="page-content">
                {%block content%}

                {%endblock%}
                <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" id="fab">
                    <i class="material-icons">help</i>
                </button>
            </div>
        </main>
    </div>
</html>
